$purple700: #4f1650;
$purple600: #8b268d;
$purple500: #d157d3;
$purple400: #dd86df;
$purple300: #edc0ee;
$purple200: #f4d6f5;
$purple100: #f9ebfa;

$gray900: #1f1b20;
$gray800: #342e34;
$gray700: #6d626d;
$gray600: #8e848e;
$gray500: #b8b3b8;
$gray400: #d3d1d3;
$gray300: #e8e7e8;
$gray200: #f5f4f5;
$gray100: #fcfbfc;

$green600: #008000;
