$purple700: #4F1650;
$purple600: #8B268D;
$purple500: #D157D3;
$purple400: #DD86DF;
$purple300: #EDC0EE;
$purple200: #F4D6F5;
$purple100: #F9EBFA;

$gray900: #1F1B20;
$gray800: #342E34;
$gray700: #6D626D;
$gray600: #8E848E;
$gray500: #B8B3B8;
$gray400: #D3D1D3;
$gray300: #E8E7E8;
$gray200: #F5F4F5;
$gray100: #FCFBFC;