@use 'src/styles/colors.scss';

.modalContentWrapper {
  padding: 32px 12px 12px;
  display: flex;
  min-height: 360px;
  min-width: 360px;
  align-items: center;
  justify-content: center;
}

.titleWrapper {
}

.callButton {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: colors.$green600;
}
