@use 'src/styles/colors.scss';

.modalContentWrapper {
  padding: 32px 12px 12px;
  display: flex;
  min-height: 360px;
  min-width: 360px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}

.titleWrapper {
}

.callButton {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: colors.$green600;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 16px;
  border: none;

  &:hover {
    cursor: pointer;
  }

  &.callActive {
    background-color: red;
  }
}

.callIcon {
  color: colors.$gray100;
}
