@use '../../../../styles/colors';

.callAgentButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;

  width: 117px;
  height: 42px;

  background: colors.$purple400;
  border-radius: 12px;
  border: none;

  transition: background 0.2s ease-in-out;

  &:hover {
    background: colors.$purple500;
  }
}
